/* Parent Container */
/* .content_img{
 position: relative;
 width: 200px;
 height: 200px;
 float: left;
 margin-right: 10px;
} */

/* Child Text Container */
/* .content_img div{
 position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
} */

/* Hover on Parent Container */
/* .content_img:hover{
 cursor: pointer;
} */
/* 
.content_img:hover div{
 width: 150px;
 padding: 8px 15px;
 visibility: visible;
 opacity: 0.7; 
} */

/* .hide {
    display: none;
  } */


/* 
html{
  height:100%;
}
body
{ height:100%;
  background-color: #fcfcfc; 

}*/
div {
  position: relative;
  text-align: center;
  height:45vh;
}

span {
  top: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}

.fifty {
  top: 50%;
  transform: translate(-50%, -50%);
}

      
.appear div {
    color: red;
    visibility: visible;
  }

.appear:hover div {
    color: red;
    visibility: visible;
    width: 175%;
  height: 50%;
  border-bottom: 10px solid black;
  position: absolute;
  }
  
.line div{
  visibility: visible;
width: 175%;
  height: 50%;
  border-bottom: 10px solid black;
  position: absolute;
  }

hr.line14 { 
    /* position: absolute; */
    border: 0; 
    top:50%;
    height: 6px; 
    /* background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);  */
    background-image: -webkit-linear-gradient(left, #333232, #1b1b1b, #333232);
    background-image: -moz-linear-gradient(left, #333232, #1b1b1b, #333232);
    background-image: -ms-linear-gradient(left, #333232, #1b1b1b, #333232);
    background-image: -o-linear-gradient(left, #333232, #1b1b1b, #333232); 
}
  
  

/*     

.appearingBox  {
  width: 50%;
  height: 50%;
  border-bottom: 8px solid rgba(0, 0, 0, 0.322);
  background-color: rgba(0, 0, 0, 0);
} */
.appearingBoxTop div {
    visibility: hidden;
    position:fixed;
    top: 50%;
  left: 50%;
    /* width: 50%;
    height: 50%;
    border-bottom: 8px solid rgba(0, 0, 0, 0.322); */
    /* background-color: rgba(0, 0, 0, 0.37); */
    opacity: 0;
    /* -webkit-transition:all .2s ease-in-out; 
    -moz-transition:all .2s ease-in-out; 
    -o-transition:all .2s ease-in-out; 
    -ms-transition:all .2s ease-in-out;  */
}

.appearingBoxTop:hover div {
    visibility: visible;
    position:fixed;
    top: 50%;
  left: 50%;
    /* width: 175%;
    height: 50%;
    border-bottom: 8px solid rgba(0, 0, 0, 0.322); */
    /* background-color: rgba(0, 0, 0, 0.37); */
    /* border: 1px solid rgb(0,0,255); */
    opacity: 1;
}

.appearingBoxBottom div {
  visibility: hidden;
  bottom: 50%;
  left: 50%;
  position:fixed;
  /* width: 50%;
  height: 50%;
  border-bottom: 8px solid rgba(0, 0, 0, 0.322); */
  /* background-color: rgba(0, 0, 0, 0.37); */
  opacity: 0;
  /* -webkit-transition:all .2s ease-in-out; 
  -moz-transition:all .2s ease-in-out; 
  -o-transition:all .2s ease-in-out; 
  -ms-transition:all .2s ease-in-out;  */
}

.appearingBoxBottom:hover div {
  visibility: visible;
  bottom: 50%;
  left: 50%;
  position:fixed;
  /* width: 175%;
  height: 50%;
  border-bottom: 8px solid rgba(0, 0, 0, 0.322); */
  /* background-color: rgba(0, 0, 0, 0.37); */
  /* border: 1px solid rgb(0,0,255); */
  opacity: 1;
}



.wrapperTop{
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
}

a{
  display: block;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
}

a:hover{
  letter-spacing: 15px;
}

.wrapperBottom{
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -95%);
}

a{
  display: block;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
}

a:hover{
  letter-spacing: 15px;
}

