/* Parent Container */
/* .content_img{
 position: relative;
 width: 200px;
 height: 200px;
 float: left;
 margin-right: 10px;
} */

/* Child Text Container */
/* .content_img div{
 position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
} */

/* Hover on Parent Container */
/* .content_img:hover{
 cursor: pointer;
} */
/* 
.content_img:hover div{
 width: 150px;
 padding: 8px 15px;
 visibility: visible;
 opacity: 0.7; 
} */

/* .hide {
    display: none;
  } */
      
.appear div {
    color: red;
    visibility: visible;
  }

.appear:hover div {
    color: red;
    visibility: visible;
    width: 175%;
  height: 50%;
  border-bottom: 10px solid black;
  position: absolute;
  }
  
.line div{
  visibility: visible;
width: 175%;
  height: 50%;
  border-bottom: 10px solid black;
  position: absolute;
  }

hr.line14 { 
    border: 0; 
    height: 6px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
  
  

/*     

.appearingBox  {
  width: 50%;
  height: 50%;
  border-bottom: 8px solid rgba(0, 0, 0, 0.322);
  background-color: rgba(0, 0, 0, 0);
} */
.appearingBox div {
    visibility: hidden;
    /* width: 50%;
    height: 50%;
    border-bottom: 8px solid rgba(0, 0, 0, 0.322); */
    background-color: rgba(0, 0, 0, 0.37);
    opacity: 0;
    /* -webkit-transition:all .2s ease-in-out; 
    -moz-transition:all .2s ease-in-out; 
    -o-transition:all .2s ease-in-out; 
    -ms-transition:all .2s ease-in-out;  */
}

.appearingBox:hover div {
    visibility: visible;
    /* width: 175%;
    height: 50%;
    border-bottom: 8px solid rgba(0, 0, 0, 0.322); */
    background-color: rgba(0, 0, 0, 0.37);
    /* border: 1px solid rgb(0,0,255); */
    opacity: 1;
}
